body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: center;
    background-image: linear-gradient(90deg, #0634ff, #490179);
}


/* Header */
header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

}
header a {
    text-decoration: none;
    color: #333;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
h2{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 0);
}
label {
    text-align: left;
    color: white;
}

/*Estilo para los links*/

/*Estilo para los campos del inicio_sesion*/
input[type="text"], [type="password"], [type="number"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 50px;
    border: 1px solid #eee;
    margin: 20px auto;
    background-color: #8D8499;
    color: white;
}
::placeholder {
    color: white;
}
/*Estilo para los botones*/
input[type="submit"]{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ffc107;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.boton_style:hover {
    background-color: #ffca28;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton_style:active {
    background-color: #ffbf00;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
input[type="submit"]:hover{
    background-color: #fcbf49;
}

button{
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin: 20px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 20px;
    background: #2d0e53;
    box-shadow: -1px -1px 5px #fff, 2px 2px 20px #1f1e1e, inset 0px 0px 0px #fff, inset 0px 0px 0px #1f1e1e;
    transition: all 300ms ease;
}
.img_musica {
    top: 15px;
    left: 15px;
    height: 23px;
    width: 39px;
}
#musica{
    position: relative;
    top: 1px;
    left: 15px;
    width: 81px;
    height: 73px;
}

#comodin_publico{
    position: relative;
    top: 15px;
    left: 15px;
    height: 59px;
    width: 65px;
}
.img_publico{
    height: 27px;
    width: 28px;
}
#comodin_llamada{
    position: relative;
    top: 15px;
    left: 15px;
    height: 59px;
    width: 65px;
}
.img_llamada{
    height: 27px;
    width: 28px;
}
#comodin_50{
    position: relative;
    font-weight: bold;
    top: 6px;
    left: 15px;
    height: 59px;
    width: 65px;
}
#plantarse{
    position: relative;
    font-weight: bold;
    top: 6px;
    left: 15px;
    height: 59px;
    width: 134px;
}
#botones_juego{
    margin-top: 170px;
}


/*#temporizador {*/
/*    font-size: 36px;*/
/*    font-weight: bold;*/
/*    color: #333;*/
/*    animation: temporizador-animacion 30s linear forwards;*/
/*}*/

/*@keyframes temporizador-animacion {*/
/*    0% {*/
/*        color: yellow; !* Color inicial *!*/
/*    }*/
/*    100% {*/
/*        color: red; !* Color al llegar a 0 *!*/
/*    }*/
/*}*/
#temporizador {
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

#temporizador span {
    animation: countdown 30s linear forwards;
}
@keyframes countdown {
    0% {
        color: #000;
    }
    66.66% {
        color: #000;
    }
    83.33% {
        color: #ff0000; /* Cambia de color a rojo */
    }
    100% {
        color: #ff0000; /* Mantiene el color rojo */
    }
}
#nivel_pregunta, #aciertos{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#aciertos_acumulados{
    font-size: 20px;
    font-weight: bold;
    color: #70e000;
}

.active p{
    background-color: black;
    border: 2px solid yellow;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.columna {
    width: 50%;
    float: left;
}
.columna label{
    background-color: black;
    border: 2px solid yellow;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.respuesta1 + label, .respuesta2 {
    margin-top: 40px;
    margin-left: 10px;
}
.respuesta3 + label, .respuesta4 {
    margin-top: 40px;
    margin-left: 10px;
}



